@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'colors_map.scss';

.title-generic_about {
    background: url(../images/about/image\ 8.jpg) center/cover no-repeat;

    .title-generic_content {
        .reflection {
            font-size: 152px;
            width: 100%;
            margin: auto;
        }
    }
}

.about_info {

    .container {
        position: relative;
        padding-top: 55px;
        padding-bottom: 50px;

    .title {
        position: absolute;
        top: 283px;
        left: -230px;
        width: 577px;
        text-align: right;
        transform: rotate(-90deg);

        h2 {
            font-weight: bold;
            font-size: 55px;
            line-height: 60px;
            text-transform: uppercase;
            color: $corp_blue_lite-color;
        }
    }

    .icon {
        padding-top: 6px;
    }

    .text {
        padding-left: 170px;
    }

    .row_upper {
        display: flex;
        max-width: 100%;
        font-weight: normal;
        font-size: 17px;
        line-height: 24px;
        color: $corp_gray-color;
        padding-bottom: 47px;

        .col {
            padding-left: 41px;
            max-width: 100%;
        }
    }

    .row_lower {
        display: flex;
        justify-content: space-between;
        padding-bottom: 47px;

        .col-2 {
            max-width: 48%;
            display: flex;
        }

        .text_block {
            padding-left: 41px;
            font-weight: normal;
            font-size: 17px;
            line-height: 24px;
            color: $corp_gray-color;
        }
    }

    h3 {
        padding-bottom: 22px;
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        text-align: left;
        text-transform: uppercase;
        color: $corp_gray-color;
    }
    }
}

.economic-effect {
    height: 559px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%),
        url(../images/about/Rectangle\ 472.jpg) center/cover no-repeat;

    &_content {
        .title {
            padding-top: 250px;
            width: 747px;
                h2 {
                    font-weight: bold;
                    font-size: 55px;
                    line-height: 70px;
                    text-transform: uppercase;
                    color: $common_white;
                    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.45);
                }
        }
        
    }
}

.effect-points {
    &_content {
        position: relative;
        padding-top: 86px;

        .images_block {
            float: right;
            width: 49%;
            display: flex;
            justify-content: space-between;
            padding-left: 31px;
            padding-bottom: 49px;

            img {
                max-width: 48%;
                flex: none;
            }
        }

        .point_item {  
            display: flex;  
            padding-bottom: 26px;

            .num {
                flex: none;
                width: 76px;
                font-weight: 900;
                font-size: 68px;
                line-height: 80px;
                text-align: left;
                text-transform: uppercase;
                color: $corp_blue_lite-color;
            }

            .text {
                align-self: center; 
                padding-top: 9px;
                max-width: 880px;
                font-weight: bold;
                font-size: 18px;
                line-height: 30px;
                text-transform: uppercase;
                color: $corp_gray-color;
            }
        }

        .reflection {
            position: absolute;
            top: 157px;
            right: 0;

            h2 {
                writing-mode: vertical-lr;
                text-orientation: upright;
                font-weight: bold;
                font-size: 77px;
                line-height: 63px;
                letter-spacing: -17.4px;
                text-align: center;
                text-transform: uppercase;
                color: transparent;
                -webkit-text-stroke: 1px #4975A5;
            }
        }
    }
}

.region-effect {
    position: relative;
    padding-top: 59px;

    &_content {
        position: relative;
        display: flex;
        justify-content: flex-end;

        .title {
            position: absolute;
            top: 285px;
            left: -298px;
            width: 697px;
            text-align: right;
            transform: rotate(-90deg);
    
            h2 {
                font-weight: bold;
                font-size: 55px;
                line-height: 60px;
                text-transform: uppercase;
                color: $corp_blue_lite-color;
            }
        }
    
        .text {
            width: 83%;
    
            .poster {
                background: url(../images/about/Rectangle\ 481.jpg) center/cover no-repeat;
                width: 1010px;
                height: 334px;
                position: relative;
    
                .label {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 589px;

                    h3 {
                        font-weight: bold;
                        font-size: 55px;
                        line-height: 70px;
                        text-transform: uppercase;
                        color: $common_white;
                        text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.45);
        
                        .filled_blue {
                            color: $corp_blue_lite-color;
                        }
                    }
                }
                
            }
        }
    
        .row_lower {
            display: flex;
            justify-content: space-between;
            padding-top: 25px;
            padding-bottom: 47px;
    
            .col-2-narrow {
                width: 37%;
            }
    
            .col-2-wide {
                width: 56%;
            }
    
            .text_block {
                font-weight: normal;
                font-size: 17px;
                line-height: 24px;
                color: $corp_gray-color;
            }
        }
    
        h3 {
            padding-bottom: 22px;
            font-weight: bold;
            font-size: 24px;
            line-height: 34px;
            text-align: left;
            text-transform: uppercase;
            color: $corp_gray-color;
        }
    }
}

// .counters_about {
//     padding-left: 92px;
//     .counter_item {
//         &_label {
//             width: 92%;
//         }
//     }
// }

.assortiment {
    padding-bottom: 70px;
    
    &_content {
        padding-top: 67px;

        .title {
            max-width: 653px;
            margin: auto;

            h2 {
                font-weight: bold;
                font-size: 55px;
                line-height: 70px;
                text-align: center;
                text-transform: uppercase;
                color: $corp_gray-color;
            }
        }

        .pics_row {
            padding-top: 60px;
            display: flex;
            justify-content: space-between;

            .row_item {
                display: flex;

                .icon {
                    padding-right: 25px;
                }

                h3 {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 35px;
                    text-transform: uppercase;
                    color: $corp_gray-color;
                }
            }
        }
    }
}

.facts-nums {
    padding-top: 75px;
    padding-bottom: 39px;
    background: $corp_white-color;

    &_content {
        display: flex;

        .poster {
            position: relative;
            padding-top: 16px;
            padding-left: 105px;

            img {
                height: 537px;
                width: 420px;
            }

            .title {
                position: absolute;
                top: 252px;
                left: -243px;
                transform: rotate(-90deg);

                h2 {
                    font-weight: bold;
                    font-size: 55px;
                    line-height: 60px;
                    text-transform: uppercase;
                    color: $corp_blue_lite-color;
                }
            }
        }

        .point_list {
            padding-left: 105px;

            .point_item {  
                display: flex;    
                padding-bottom: 18px;
    
                .num {
                    flex: none;
                    width: 107px;
                    font-weight: 900;
                    font-size: 68px;
                    line-height: 80px;
                    text-align: left;
                    text-transform: uppercase;
                    color: $corp_blue_lite-color;
                }
    
                .text {
                    padding-top: 9px;
                    max-width: 880px;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 30px;
                    text-transform: uppercase;
                    color: $corp_gray-color;

                    .note {
                        font-weight: bold;
                        font-size: 11px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}

.publications {

    &_content { 
        padding-top: 54px;
        padding-bottom: 70px;

        .title {
            width: 480px;
            margin: auto;

            h2 {
                font-weight: bold;
                font-size: 55px;
                line-height: 70px;
                text-align: center;
                text-transform: uppercase;
                color: $corp_gray-color;
            }
        }

        .publications_block {
            display: flex;
            justify-content: space-between;
            padding-top: 34px;

            .publication_item {
                position: relative;
                width: 31%;

                img {
                    width: 100%;
                }

                .pub_title {
                    padding-top: 14px;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    color: $corp_gray-color;
                }

                .text {
                    padding-top: 12px;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    color: $corp_gray_liter-color;
                }

                .label {
                    position: absolute;
                    left: 0;
                    top: 16px;
                    width: 137px;
                    height: 37px;
                    background: $common_white;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        .news_pagination {
            margin: auto;
            padding-top: 64px;
            width: 115px;
        }
    }
}

@media (max-width: 1203px) {
    .title-generic_about {
        .title-generic_content {
            .reflection {
                font-size: 98px;
            }
        }
    }

    .about_info {
        .container {
            padding-bottom: 0;
            .row_lower {
                flex-direction: column;
                .col-2 {
                    max-width: 100%;
                    padding-bottom: 47px;
                }
            }
        }

    }

    .economic-effect_content {
        .title {
            padding-top: 299px;
        }
    }

    .effect-points {
        &_content {
    
            .images_block {
                float:none;
                width: 77%;
                padding-left: 0;
            }

            
            .point_item .text {
                max-width: 1000px;
                width: 69%;
            }

            .reflection {
                transform: translate(0, -70px);
            }
        }
    }

    .region-effect {
        min-height: 1140px;
        padding-top: 31px;

        &_content {
            position: relative;

            .title {
                position: absolute;
                top: 645px;
                left: -288px;
                font-size: 50px;
            }

            .text {
                width: 100%;

                .poster {
                    width: 100%;

                    .label {
                        left: 0;
                    }
                }
            }

            .row_lower {
                padding-left: 171px;
                flex-direction: column;

                p {
                    padding-bottom: 24px;
                }

                .col-2-narrow {
                    width: 100%;
                }

                .col-2-wide {
                    width: 100%;
                }
            }
        }
    }

    .counters_about {
        height: 515px;
        padding-left: 92px;

        .counters_container {
            align-items: flex-start;
        }
    }

    .assortiment_content {
        .title {
            h2 {
                font-size: 50px;
                line-height: 65px;
            }
        }

        .pics_row {
            flex-wrap: wrap;

            .row_item {
                width: 49%;
                padding-bottom: 50px;
            }
        }
    }

    .facts-nums_content {
        flex-direction: column;
        align-items: center;

        .poster {
            padding: 0;

            img {
                width: 549px;
                height: 702px;
            }

            .title {
                top: 318px;
                left: -414px;
    
                h2 {
                    font-size: 72px;
                    line-height: 60px;
                }
            }
        }

        .point_list {
            padding-top: 24px;
            .point_item {
                .num {
                    width: 95px;
                }
            }
        }

        .point_list {
            padding-left: 0;
            width: 549px;
        }
    }

    .publications_content {
        .title {
            width: 424px;
            h2 {
                font-size: 50px;
                line-height: 65px;
            }
        }  

        .publications_block {
            flex-wrap: wrap;
            width: 99%;
            margin: auto;

            .publication_item {
                width: 50%;
                padding: 0 1%;
            }
        }
    }
}

@media (max-width: 770px) {
    .title-generic_about {
        .title-generic_content {
            h2 {
                font-size: 45px;
            }

            .reflection {
                font-size: 114px;
            }
        }
    }

    .about_info {
        .container {
            .title {
                top: 381px;
                left: -316px;
                width: 705px;

                h2 {
                    font-size: 37px;
                }
            }

            .text {
                padding-left: 77px;
            }

            .row_upper {
                flex-direction: column;

                .col {
                    padding-left: 0;
                    padding-top: 18px;
                }
            }

            .row_lower {
                padding-bottom: 0;

                .col-2 {
                    flex-direction: column;

                    .text_block {
                        padding-left: 0;
                        padding-top: 18px;
                    }
                }
            }
        }
    }

    .economic-effect_content {
        .title {
            width: 350px;
            padding-top: 340px;

            h2 {
                font-size: 33px;
                line-height: 43px;
            }
        }

        .images_block {
            width: 100%;
        }
    }

    .effect-points_content {
        padding-top: 62px;

        .images_block {
            width: 100%;
        }

        .reflection {
            top: 130px;
        }
    }

    .region-effect_content {
        min-height: 1374px;
        .text {
            .poster {
                .label {
                    width: 351px;

                    h3 {
                        font-size: 33px;
                        line-height: 43px;
                    }
                }
                
            }
        }

        .title {
            top: 840px;
            left: -478px;
            width: 993px;

            h2 {
                font-size: 46px;
            }
        }

        .row_lower {
            padding-left: 68px;
            padding-top: 38px;

            p {
                padding-bottom: 36px;;
            }
        }
    }

    .counters_about {
        padding-left: 8px;
        padding-top: 50px;
    }

    .assortiment {
        padding-bottom: 18px;

        .assortiment_content {
            .title {
                h2 {
                    font-size: 33px;
                    line-height: 43px;
                }
            }
    
            .pics_row {
                padding-left: 8px;
                .row_item {
                    width: 98%;
                }
            }
        }
    }

    .facts-nums_content {
        .poster {
            padding-left: 58px;
            max-width: 346px;

            img {
                width: 100%;
                height: auto;
            }

            .title {
                top: 155px;
                left: -175px;

                h2 {
                    font-size: 38px;
                }
            }
        }

        .point_list {
            width: 100%;
            padding-top: 42px;
            .point_item {
                .num {
                    padding-left: 4px;
                    width: 67px;
                }
            }
        }
    }

    .publications_content {
        padding-bottom: 32px;
        .title {
            width: 282px;

            h2 {
                font-size: 33px;
                line-height: 43px;
            }
        }

        .publications_block {
            flex-direction: column;

            .publication_item {
                flex: none;
                width: 100%;
                padding-bottom: 32px;
            }

        }
    }
}

