$corp_blue_lite-color: #4975A5;
$corp_blue-color: #4574A3;
$corp_gray-color: #454545;
$corp_gray-mid-color: #5B5B5B;
$corp_gray_lite-color: #7A7A7A;
$corp_gray_liter-color: #7D7F82;
$corp_white_color: #E5E5E5;
$common_white: #FFF;
$common_black: #000;