@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'colors_map.scss';

.main_corp_dummy {
    height: 1080px;
    
    .dummy_content {
        position: absolute;
        top: -14px;
        right: 0;
        width: 706px;
    
        h2 {
            font-weight: bold;
            font-size: 70px;
            line-height: 78px;
            text-transform: uppercase;
            color: $common_white;
    
            .filled_blue {
                font-size: 72px;
            }
        }

        .company-name {
            left: -221px;
    
            h1 {
                font-size: 143px;
            }
        }
    
        .dummy_callback_label {
            padding-top: 23px;
            font-family: Akrobat;
            font-style: normal;
            font-weight: 500;
            font-size: 47px;
            line-height: 57px;
            text-transform: uppercase;
            color: $common_white;
        }
    
        .callback {
            padding-top: 39px;
            &_form {
    
                .input_block {
                    padding-bottom: 34px;
    
                    label {
                        font-size: 14px;
                        line-height: 17px;
                        text-transform: none;
                        color: $common_white;
                    }
        
                    input {
                        width: 85%;
                        color: $common_white;

                        &::placeholder {
                            color: $common_white;
                        }
                    }
                }

                button {
                    margin-top: 30px;
                    width: 289px;
                }
            }
        }
    }
   
}

.local-jobs {
    height: 1310px;
    background: linear-gradient(90deg, #4975A5 60%, transparent 90%), 
        url(../images/dummy/image2.jpg) top right/cover no-repeat;
    color: $common_white;

    &_content {
        width: 832px;
        padding-top: 104px;

        h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            text-transform: uppercase;
            padding-bottom: 33px;
        }

        h3 {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            padding-bottom: 89px;
        }
    }

    &_list {
        font-size: 18px;
        line-height: 24px;
        max-width: 925px;

        table {
            tr {
                height: 124px;
                vertical-align: top;
            }
        }

        .marker-cell {
            position: relative;
            width: 108px;

            .marker {
                position: absolute;
                top: -6px;
            }

            .rect {
                position: absolute;
                top: 59px;
                left: 32.5px;
                width: 1px;
                height: 100%;
                background-color: $common_white;
            }
        }
    }
}

.footer_dummy {
    position: relative;
    padding-top: 87px;
    height: 614px;
    overflow: hidden;

    &_content {

        h2 {
            font-weight: bold;
            font-size: 65px;
            line-height: 142px;
            text-align: center;
            text-transform: uppercase;
            color: $corp_gray-color;
        }

        h3 {
            font-weight: normal;
            font-size: 24px;
            line-height: 34px;
            text-align: center;
            color: $corp_gray-color;
        }

        .order_button {
            margin: auto;
            margin-top: 92px;
            max-width: 428px;
        }

        
    }

    .order_reflection {
        position: absolute;
        bottom: -22px;
        font-weight: bold;
        font-size: 95px;
        text-transform: uppercase;
        color: transparent;
        opacity: 0.5;
        -webkit-text-stroke: 1px #4975A5;
        white-space: nowrap;
    }
}

@media (max-width: 1203px) {

    .main_corp_dummy {
        height: 921px;

        .header_content {
            padding-bottom: 84px;
        }

        .main_corp_content {
            .company-name {
                top: 272px;
            }
        }

        .dummy_content {
            width: 560px;
            h2 {
                width: 571px;
                font-size: 56px;
                line-height: 69px; 

                .filled_blue {
                    font-size: 60px;
                }
            }

            .dummy_callback_label {
                font-size: 39px;
                line-height: 52px;
            }

            .callback {

                &_form {
                    margin-left: 0;
                    margin-right: auto;
                    max-width: 96%;
                }
            }
        }

        .header_prolog {
            padding-bottom: 86px;
        }
    
        .header_content {
            .company-name {
                top: 270px;
                left: -307px;
        
                h1 {
                    font-size: 100px;
                }
            }
        
            .dummy_content {
                top: -14px;
                right: 0;
                width: 565px;
            
                h2 {
                    font-size: 56px;
                    line-height: 71px;
            
                    .filled_blue {
                        font-size: 60px;
                    }
                }
            
                .dummy_callback_label {
                    padding-top: 23px;
                    font-size: 39px;
                    line-height: 52px;
                }
            }
        }    
    }

    .local-jobs {
        height: auto;
        
        &_content {
            width: 100%;
            padding-top: 84px;
        }
    
        &_list {
            width: 100%;
            padding-bottom: 32px;

            table {
                tr {
                    padding-bottom: 24px;
                }
            }
        }
    }

    .footer_dummy {
        height: 508px;
        padding-top: 51px;
    
        &_content {
    
            h2 {
                font-size: 50px;
                line-height: 107px;
            }
    
            h3 {
                font-size: 21px;
                line-height: 28px;
            } 
        }
    
        .order_reflection {
            font-size: 69px;
        }
    }
}

@media (max-width: 760px) {

    .main_corp_dummy {

        .main_corp_content {
            .company-name {
                display: none;
            }

            .dummy_content {
                position: relative;
                max-width: 351px;
                margin: auto;
                h2 {
                    width: 101%;
                    font-size: 35px;
                    line-height: 40px;

                    .filled_blue {
                        font-size: 43px;
                        line-height: 40px;
                    }
                }

                .callback {
                    padding-top: 6px;
                }

                .dummy_callback_label {
                    font-size: 28px;
                    line-height: 38px;
                }

                .callback_form {
                    .input_block {
                        input {
                            width: 102%;
                        }
                    }

                    .button_dark {
                        width: 349px;
                    }
                }
            }
        }

        .header_prolog {
            padding-bottom: 83px;

            .logo {
                padding-top: 5px;

                img {
                    width: 163px;
                }
            }

            .company-description {
                .activity {
                    padding-top: 0;
                }
            }
        }
    
        .header_content {
            padding-top: 30px;
            .logo {
                padding-top: 4px;
                max-width: 180px;
            }

            .company-name {
                display: none;
            }

            .company-description {
                .activities {
                    padding-top: 0;
                    width: 154px;
                }
            }
        
            .dummy_content {
                top: -14px;
                right: 0;
                width: 375px;
            
                h2 {
                    font-size: 35px;
                    line-height: 40px;
            
                    .filled_blue {
                        font-size: 43px;
                    }
                }
            
                .dummy_callback_label {
                    padding-top: 23px;
                    font-size: 28px;
                    line-height: 38px;
                }
            }
        } 
        
        .dummy_content {
            .callback {
                padding-top: 6px;
            }

            .callback_form {
                .button_dark {
                    width: 349px;
                }
            }
        }
    }

    .local-jobs {

        &_content {
            padding-top: 46px;
            font-size: 17px;
        }
    }

    .footer_dummy {
        height: 450px;
        padding-top: 46px;
        padding-bottom: 24px;;
    
        &_content {
            width: 97%;
            margin: auto;
            
            h2 {
                width: 66%;
                margin: auto;
                font-size: 33px;
                line-height: 43px;
            }
    
            h3 {
                padding-top: 16px;
                font-size: 18px;
                line-height: 24px;
            } 

            .order_button {
                margin-top: 58px;
            }
        }
    
        .order_reflection {
            font-size: 62px;
        }
    }
}