@import 'colors_map.scss';

body {
    background: $common_white;
}

.title-generic_machinery {
    background: url(../images/machinery/shutterstock_1645495651_2-scaled.jpg) center/cover no-repeat;

    .title-generic_content {
        h2 {
            font-size: 44px;
        }

        .reflection {
            font-size: 131px;
        }
    }
}

.released-projects {
    h2 {
        padding-bottom:47px;
        font-weight: bold;
        font-size: 45px;
        line-height: 53px;
        color: $corp_blue_lite-color;
    }

    .col_item {
        display: block;
        width: 540px;

        .text {
            padding-right: 0;
            padding-left: 47px;
        }
    }

    &_item {
        display: flex;
        align-items: center;
        height: 171px;
        width: 90%;

        .icon {
            width: 64px;
        }

        .text {
            width: 100%;

            h3 {
                font-weight: bold;
                font-size: 22px;
                line-height: 35px;
                text-transform: uppercase;
                color: $corp_gray-color;
            }
        }
    }
}

.media_bordered {
    margin-top: 95px;
    margin-bottom: 332px;
}

@media (max-width: 1203px) {
    .title-generic_machinery {
        .title-generic_content {
            max-width: 799px;
            margin: auto;
            h2 {
                
                line-height: 54px;
            }
        }
    }

    .released-projects {
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 45px;
            line-height: 53px;
            text-align: center;
        }
        .col_item {
            width: 70%;

            .released-projects_item {
                width: 100%
            }

        }
    }

    .side-title-block_content {
        padding-top: 95px;

        flex-direction: column-reverse;

        .block-title_vertical {
            top: 334px;
        }

        .image {
            
            img {
                position: relative;
                top: 0;
                left: 31%;
                width: 591px;
                height: auto;
            }
        }

        .text {
            width: 99%;
            padding-left: 0;
            padding-top: 44px;
        }
    }

    .media_bordered {
        margin-top: 36px;
    }
}