@import 'colors_map.scss';

body {
    background: $common_white;
}

.title-generic_machinery {
    background: url(../images/machinery/shutterstock_1645495651_2-scaled.jpg) center/cover no-repeat;

    .title-generic_content {
        h2 {
            font-size: 44px;
        }

        .reflection {
            font-size: 131px;
        }
    }
}

.released-projects {
    h2 {
        padding-bottom:47px;
        font-weight: bold;
        font-size: 45px;
        line-height: 53px;
        color: $corp_blue_lite-color;
    }

    .col_item {
        display: block;
        width: 540px;

        .text {
            padding-right: 0;
            padding-left: 47px;
        }
    }

    &_item {
        display: flex;
        align-items: center;
        height: 162px;
        width: 90%;

        .icon {
            width: 64px;
        }

        .text {
            width: 100%;

            h3 {
                font-weight: bold;
                font-size: 22px;
                line-height: 35px;
                text-transform: uppercase;
                color: $corp_gray-color;
            }
        }
    }
}

.media_bordered {
    margin-top: 95px;
    margin-bottom: 332px;
}

@media (max-width: 1203px) {
    .title-generic_machinery {
        .title-generic_content {
            max-width: 799px;
            margin: auto;
            h2 {
                
                line-height: 54px;
            }
        }
    }

    .released-projects {
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 45px;
            line-height: 53px;
            text-align: center;
        }

        &_item {
            padding-bottom: 0;
        }

        .col_item {
            width: 70%;

            .released-projects_item {
                width: 100%
            }

        }
    }

    .gallery-block {
        &_content {
            padding-top: 12px;
        }
    }

    .side-title-block_content {
        padding-top: 95px;

        flex-direction: column-reverse;

        .block-title_vertical {
            top: 334px;
        }

        .image {
            
            img {
                position: relative;
                top: 0;
                left: 31%;
                width: 591px;
                height: auto;
            }
        }

        .text {
            width: 99%;
            padding-left: 0;
            padding-top: 44px;
        }
    }

    .media_bordered {
        margin-top: 36px;
        margin-bottom: 116px;
    }
}

@media (max-width: 770px) {
    .title-generic_machinery {
        .title-generic_content {
            h2 {
                font-size: 36px;

                .reflection {
                    font-size: 81px;
                }
            }
        }
    }

    .released-projects {
        padding-top: 44px;
        .col_item {
            width: 100%;
            .released-projects_item {
                height: 145px;
                flex-direction: column;
                h2 {
                    font-size: 33px;
                    line-height: 43px;
                }

                .text {
                    padding-left: 0;
                    padding-top: 12px;
                    h3 {
                        font-size: 18px;
                        line-height: 26px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .gallery-block_content {
        flex-wrap: wrap;
        .gallery_item {
            padding-bottom: 6px;
            width: 48.5%;
        }
    }

    .side-title-block_content {

        .block-title_vertical {
            top: 305px;
            left: -214px;
            font-size: 71px;
            line-height: 60px;
        }
        .image {
            width: 64%;
            img {
                position: relative;
                top: 0;
                left: 31%;
                width: 281px;
                height: auto;
            }
        }

        .text {
            width: 100%;
            padding-top: 11px;

            p {
                padding-bottom: 13px;
            }

            .anounce_text {
                padding-left: 69px;
            }
        }
    }

    .media_bordered {
        margin-bottom: 0;
    }
}