$corp_blue-color: #4975A5;
$corp_gray-color: #454545;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    color: #FFF;
    font-family: Montserrat, Tahoma, sans-serif;
}

.container {
    margin: auto;
    max-width: 1213px;
}

.button_transparent {
    padding: 0 7px 0 7px;
    background: none;
    outline: none;
    border: none;
    font-family: Montserrat, Tahoma, sans-serif;
    font-size: 16px;
    color: #FFF;

    &:hover {
        cursor: pointer;
    }
}

.slider-control {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .slide-index {
        font-size: 237px;
        line-height: 182px;
        font-weight: 800;
        color: transparent;
        -webkit-text-stroke: 2px #FFF;
        text-align: right;
    }

    &_item {
        padding-left: 40px;
    }
}

.header {
    background-image: url('../images/dan-otis-OYFHT4X5isg-unsplash(2) 1.png');
    background-size: cover;
    height: 918px;     

    &_prolog {
        display: flex;
        justify-content: space-between;
        padding-top: 54px;
        padding-bottom: 116px;
        font-size: 16px;
        font-family: Montserrat, Tahoma, sans-serif;
        color: #FFF;

        .logo img {
            width: 253px;
        }

        .callback-order a {
            font-size: 16px;
            color: #FFF;
            text-decoration: none;
        }

        .contacts {
            display: flex;
            align-items: flex-end;
            transform: translate(0, -32px);

            .callback-order a {
                color: #FFF;
                text-decoration: none;
            }

            .social-icons {
                display: flex;
                justify-content: space-between;
                margin: 0 33px 0 33px;
                width: 140px;
            }
        }

        .search {
            position: relative;
            top: -4px;

            &_text {
                width: 235px;
                background: none;
                outline: none;
                border: none;
                border-bottom: 1px solid #FFF;
                padding-bottom: 4px;
                font-family: Montserrat, Tahoma, sans-serif;
                font-size: 16px;
                line-height: 19.5px;
                color: #FFF;

                &::placeholder {
                    color: #FFF;
                }
            }

            &_button {
                transform: translate(-26px, 4px);
            }
        }   

        .menu button {
            font-size: 32px;
            line-height: 14px;
        }
    }

    &_content {
        position: relative;
        width: 100%;
        text-transform: uppercase;

        .company-name {
            position: absolute;
            top: 185px;
            left: -214px;
            transform: rotate(-90deg);
            width: 657px;
            text-align: right;

            h1 {
                font-size: 124px;
                font-weight: bold;
                line-height: 142px;
            }
        }

        .company-description {
            position: absolute;
            top: -10px;
            right: 0;
            width: 701px;

            h2 {
                font-size: 85px;
                font-weight: 700;
                line-height: 80px;

                .filled_blue {
                    color: $corp_blue-color;
                    font-size: 72px;
                }
            }

            .activity {
                padding-top: 26px;

                ul {
                    display: flex;
                    justify-content: space-between;
                }

                li {
                    display: inline;
                    list-style: none;
                    font-family: Akrobat, Arial, sans-serif;
                    font-size: 23px;
                    font-weight: 600;
    
                    &:not(:last-child):after {
                        content: " \00a0•";
                    }
                }
            }
        }

        .slider-control {
            padding-top: 170px;
        }
    }
}

.specs {
    background-color: $corp_gray-color;
    height: 310px;

    &_container {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 866px;
        padding-top: 80px;

        h3 {
            font-size: 92px;
            font-weight: 700;
            line-height: 112px;
            letter-spacing: 0em;
            text-align: left;
    
            .font_tiny {
                font-family: Montserrat;
                font-size: 24px;
                font-weight: 400;
                line-height: 29px;
                letter-spacing: 0.1em;
                text-align: left;
            }
        }
    }

    &_label {
        font-size: 26px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.about {
    height: 722px;

    &_content {
        display: flex;
        padding: 96px 0;

        img {
            max-width: 530px;
        }
    
        .text {
            padding-left: 62px;

            h2 {
                font-weight: bold;
                font-size: 65px;
                line-height: 142px;
                text-transform: uppercase;
                color: $corp_gray-color;
            }
    
            p {
                color: #7A7A7A;
                font-size: 20px;
                line-height: 28px;
            }

            .schema {
                display: flex;
                padding-top: 18px;
                color: #7A7A7A;
                font-size: 20px;
                line-height: 50.2px;
            }

            .marker {
                transform: translate(0, 3px);
            }
        }
    }
}

.history {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.8) 100%), 
        url('../images/image\ 9.jpg') top left/cover no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 778px;

    &_content {
        position: relative;
        width: 100%;
        text-transform: uppercase;

        .block-title {
            position: absolute;
            top: 452px;                
            left: -400px;
            width: 890px;

            h2 {
                font-weight: bold;
                font-size: 47px;
                text-align: right;
                transform: rotate(-90deg);
            }
        }

        .starting-date {
            position: absolute;
            top: 0;
            right: 0;
            width: 484px;
            padding-top: 83px;
            text-align: right;

            h2 {
                font-weight: bold;
                font-size: 71px;
                line-height: 82px;

                .filled_blue {
                    color: $corp_blue-color;
                    text-shadow: 0px 4px 10px rgba(8, 18, 31, 0.9);
                }
            }
        }

        .slider-control {
            padding-top: 94px;
        }
    }

    &_menu {
        position: relative;
        top: 588px;

        li {
            display: inline-block;
            padding-left: 17px;
            padding-bottom: 21px;
            list-style-type: none;
            border-top: 2px solid #FFF;
            width: 25%;

            &:not(:last-child) {
                border-right: 2px solid #FFF;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.35);
            }
            
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #FFF;
                font-weight: bold;
                font-size: 20px;
                line-height: 102px;
            }
        }
    }
}

.location {
    background-color: #34517B;
    height: 1075px;
    padding-top: 110px;

    &_content {
        background-image: url('../images/buklet.jpg');
        background-size: cover;
        height: 919px;

        .title {
            width: 365px;

            h2 {
                font-weight: bold;
                font-size: 65px;
                line-height: 80px;
                text-transform: uppercase;
            }
        }
    }
}

.engineering {
    height: 303px;

    &_prolog {
        display: flex;
        justify-content: space-between;
        padding-top: 91px;

        .title {
            width: 678px;

            h2 {
                font-weight: bold;
                font-size: 65px;
                line-height: 84px;
                text-transform: uppercase;
                color: $corp_gray-color;
                
                .filled_blue {
                    color: $corp_blue-color;
                }
            }
        }

        .slide-index {
            -webkit-text-stroke: 2px #454545;
        }
    }
}

.media {
    background-color: $corp_gray-color;
    height: 447px;

    &_content {
        position: relative;
        display: flex;
        justify-content: flex-end;

        .description {
            float: right;
            width: 390px;
            padding-top: 51px;
            padding-left: 85px;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
        }

        .link_main {
            position: absolute;
            top: 0;
            right: 390px;

            a {
                img {
                    width: 1280px;
                    height: 447px;
                }
            }

            .play-control {
                position: absolute;
                top: 50%;
                left: 1280px;
                transform: translate(-50%, -50%);
            }
        }

        .links_bottom {
            position: absolute;
            left: 0;
            top: 408px;
            display: flex;
            justify-content: space-between;
            width: 906px;
            height: 242px;

            &_item {
                position: relative;
                height: 100%;
                width: 289px;

                a {
                    img {
                        height: 100%;
                    }

                    .play-control {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

.technologies {
    height: 1034px;

    &_content {
        position: relative;

        .title {
            position: absolute;
            top: 563px;
            left: -280px;
            transform: rotate(-90deg);

            h2 {
                font-weight: bold;
                font-size: 82px;
                line-height: 102px;
                text-align: right;
                text-transform: uppercase;
                color: #4574A3;
            }
        }

        .list {
            position: absolute;
            left: 200px;
            top: 274px;

            ul {
                list-style-type: none;

                li {
                    border-bottom: 1px solid #919191;

                    a {
                        padding-left: 43px;
                        font-weight: bold;
                        font-size: 26px;
                        line-height: 91.5px;
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #454545;
                    }

                    &:hover {
                        svg {
                            path {
                                fill: #4574A3;
                            }
                        } 

                        a {
                            color: #4574A3;
                        }
                    }
                }
            }
        }
    }
}

.production {
    position: relative;
    height: 1523px;
    background: linear-gradient(20deg, rgba(69, 69, 69, 1.0) 80%, rgba(69, 69, 69, 0.6) 90%),
    url(../images/forest-3728911_1280.jpg) top left/100% no-repeat;

    &_title {
        position: absolute;
        z-index: 200;
        top: 122px;
        width: 890px;

        h2 {
            font-weight: bold;
            font-size: 64px;
            line-height: 84px;
            text-transform: uppercase;

            .filled_blue {
                color: #4574A3;
            }
        }
    }

    &_content {
        position: absolute;
        z-index: 100;
        top: 274px;
        height: 1367px;
        width: 1214px;
        background-color: $corp_gray-color;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);

        .slider-control {
            padding-top: 38px;
        }

        table {
            padding-top: 19px;
            table-layout: fixed;
            width: 100%;

            .product_image {
                width: 215px;
                padding-bottom: 17px;

                img {
                    width: 100%;
                }
            }

            .product_name {
                position: relative;
                padding-left: 56px;

                h3 {
                    padding-top: 39px;
                    font-weight: normal;
                    font-size: 36px;
                    line-height: 38px;
                }

                &_left::after {
                    position: absolute;
                    top: 107px;
                    left: 0;
                    content: '';
                    width: 92%;
                    height: 1px;
                    background-color: #C4C4C4;

                }

                &_right::after {
                    position: absolute;
                    top: 107px;
                    right: 0;
                    content: '';
                    width: 92%;
                    height: 1px;
                    background-color: #C4C4C4;
                }

                .name_reflection {
                    position: relative;
                    top: 9px;
                    font-weight: bold;
                    font-size: 95px;
                    line-height: 116px;
                    text-transform: uppercase;
                    color: transparent;
                    -webkit-text-stroke: 1px #7E7E7E;
                }
            }
    
            td {
                max-width: 50%; 
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}

.projects {
    height: 891px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%),
        url(../images/photo5258396372971926496.jpg) bottom left/cover no-repeat;
    
    &_content {
        .title {
            padding-top: 225px;

            h2 {
                font-weight: bold;
                font-size: 64px;
                line-height: 84px;
                text-align: center;
                text-transform: uppercase;

                .filled_blue {
                    color: $corp_blue-color;
                }
            }
        }

        .list {
            padding: 77px 30px 0 30px;

            ul {
                list-style-type: none;

                li {
                    display: flex;
                    align-items: center;
                    padding: 23px 0 34px;
                    border-top: 1px solid #FFF;
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 87px;
                    text-transform: uppercase;

                    .order {
                        padding-right: 87px;
                        font-weight: bold;
                        font-size: 77px;
                        line-height: 87px;
                        text-transform: uppercase;
                    }

                    &:last-child {
                        border-bottom: 1px solid #FFF;
                    }
                }
            }
        }
    }
}

.rewards {
    height: 270px;
    background-color: #fff;

    &_container {
        max-width: 879px;
        margin: auto;
        padding-top: 54px;

        img {
            width: 100%;
        }
    }
}

.osb-info {
    height: 828px;
    background: url(../images/буклет\ 2021-01\ 2.jpg) top left/cover no-repeat;

    &_content {

        .title {
            padding-top: 405px;
            width: 947px;

            h2 {
                font-weight: bold;
                font-size: 64px;
                line-height: 80px;
                text-transform: uppercase;
                color: #FFFFFF;
                text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.45);

                .filled_blue {
                    color: $corp_blue-color;
                }
            }
        }
    }
}